.message__wrapper div {
    color: white;
}

.dropdown {
    color: white!important;
    height: 50px!important;
}

.dropdown option{
    color: black!important;
}

.chatview__textarea-message {
    color: white!important;
    min-height: 0px!important;
    height: 50px!important;
}

.form {
    width: 50%;
    margin: 0% 0% 50px 25%!important;
}

.chatview__btn-send {
    height: 50px!important;
    color: white!important;
}

.bg-light-white {
    width: 30%;
    margin-left: 10%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.false {
    background-color: #444444;
    width: 30%;
    margin-left: 60%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.message__wrapper .flex{
    margin-left: 10%;
}

.chatview {
    background-color: #222222!important;
}

.chatview__chatarea {
    margin-top: 50px;
}

.embed {
    background-color: 444444;
    width: 50%;
    margin-left: 10%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 10px;
}